* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--color-principal: hsl(0, 0%, 0%);
	--color-secundario: hsl(0, 100%, 12%);
	--color-extra: hsl(0, 99%, 29%);
	--color-contraste: hsl(0, 100%, 50%);
	--color-texto: hsl(0, 0%, 100%);
}
