:root {
	/* Colores Genericos */
	--color-fondo: hsl(0, 0%, 0%);
	--color-fondo-contraste: hsl(0, 0%, 10%);
	--color-texto: hsl(0, 0%, 100%);
	--color-texto-hover: hsl(0, 100%, 100%);
	--color-hover: hsl(0, 0%, 50%);

	/* Paletas de Colores */
	/* https://colorhunt.co/palette/f3e2d4c5b0cd415e7217313e */
	--paleta-uno-principal: #f3e2d4;
	--paleta-uno-secundario: #c5b0cd;
	--paleta-uno-terciario: #415e72;
	--paleta-uno-contraste: #17313e;
	/* https://colorhunt.co/palette/0b1d51725cad8ccdebffe3a9 */
	--paleta-dos-principal: #0b1d51;
	--paleta-dos-secundario: #725cad;
	--paleta-dos-terciario: #8ccdeb;
	--paleta-dos-contraste: #ffe3a9;
	/* https://colorhunt.co/palette/2e073f7a1cacad49e1ebd3f8 */
	--paleta-tres-principal: #2e073f;
	--paleta-tres-secundario: #7a1cac;
	--paleta-tres-terciario: #ad49e1;
	--paleta-tres-contraste: #ebd3f8;
	/* https://colorhunt.co/palette/17153b2e236c433d8bc8acd6 */
	--paleta-cuatro-principal: #17153b;
	--paleta-cuatro-secundario: #2e236c;
	--paleta-cuatro-terciario: #433d8b;
	--paleta-cuatro-contraste: #c8acd6;

	/* Por hacer:
  Elegir una paleta de colores fija para la página */

	/* Tipografía */
	h1,
	h2,
	h3,
	h4 {
		margin: 0.1rem 0;
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.5rem;
		padding-left: 20px;
	}

	h3 {
		font-size: 1.2rem;
		padding-left: 40px;
	}

	h4 {
		font-size: 1rem;
		font-style: italic;
		padding-left: 60px;
	}
}

.container {
	/* Modificar después para las cartas de proyectos */
	width: 100%;
	margin: 1rem auto;
	padding: 20px;
	background-color: #86888759;
	color: var(--color-texto);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.btn {
	padding: 10px 20px;
	background-color: var(--paleta-uno-contraste);
	color: var(--color-texto);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
	color: var(--color-texto-hover);
	background-color: var(--color-hover);
}
