* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0 auto;
	background-color: var(--color-fondo);
	color: var(--color-texto);
	overflow-x: hidden;
	max-width: 100%;
	max-height: 100%;
}

/* Secciones */

.seccion {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #86888759;
	color: var(--color-texto);
} /* A lo mejor lo puedo pasar al CSS Global en un futuro*/

#inicio {
	background-color: none;
	background: linear-gradient(
		85deg,
		var(--paleta-dos-principal) 50%,
		var(--paleta-dos-contraste) 100%
	);
}

#inicio-contenido {
	display: flex;
	width: 100%;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 21px;
	color: var(--color-texto);
	margin: 25px;
}
