* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--color-fondo);
	color: var(--color-texto);
}

/* Secciones */

.seccion {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: #86888759;
	color: var(--color-texto);
}

#inicio {
	
	background-color: transparent;
	background: linear-gradient(
		85deg,
		var(--paleta-dos-principal) 50%,
		var(--paleta-dos-contraste) 100%
	);
	color: var(--color-texto);
}
